<header>
  <h1>TC- TinyURL Shorter</h1>
</header>

<section class="container">
  <form
    #urlForm="ngForm"
    (ngSubmit)="onSubmitUrlForm(urlForm)"
    novalidate
    autocomplete="off"
    *ngIf="!isFormSubmitted"
  >
    <input
      type="url"
      name="inputUrl"
      class="form-input"
      [(ngModel)]="model.inputUrl"
      #inputUrl="ngModel"
      placeholder="Paste Your URL Here"
      required
    />
    <div class="form-error" [hidden]="(inputUrl.valid || inputUrl.pristine) && inputUrl.errors">
      <p *ngIf="inputUrl.errors && inputUrl.errors">
        Please Enter URL
      </p>
    </div>

   <button type="submit" [disabled]="urlForm.invalid" class="form-btn">
    {{ !isLoading ? 'Generate URL' : 'Generating...'}}
   </button>

  </form>

  <div class="short-url-div" *ngIf="isFormSubmitted">
    <h2>Generate URL </h2>
    <div>
      <p>
        <a [href]="shortUrl"
         #shortUrlElementRef 
        target="_blank"
         title="Click me">
         {{ shortUrl }}</a>
      </p>
    </div>
    <div class="short-url-btn-div">
      <button (click)="copyUrl(shortUrlElementRef)">{{ !isTextCopied ? 'Copy' : 'Copied'}}</button>
      
      <button class="reset" (click)="reset()">Reset</button>
    </div>
  </div>
</section>

<!-- <router-outlet></router-outlet> -->
